<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Input Your Information</title>
</head>
<body>
<h2>Please Input Your Information</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your full name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Enter your email address:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your Institution:</td>
            <td><input type="text" name="Institution"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>